.vscode/**
.vscode-test/**
.context/**
src/**
dist/test/**
dist/**/*.map
node_modules/**
tsconfig.json
.gitignore
**/*.vsix
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
